.yearsCtn {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: white 2px solid;
  overflow-x: scroll;

  .years {
    font-family: "Punch Expanded Italic";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0.005em;
    color: #ffffff;
    text-align: center;
    align-items: flex-start;
    padding: 10px 41px;
    gap: 10px;
  }
  :hover {
    background-color: #235bde;
  }
}
