@font-face {
  font-family: "Punch Halftone Italic";
  src: url("./fonts/punchhalfital.ttf") format("truetype");
}

@font-face {
  font-family: "Punch Expanded Italic";
  src: url("./fonts/punchexpandital.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: #121212;
}
