.section {
  position: absolute;
  left: 20rem;
  display: flex;
  flex-direction: column;
  overflow: visible;

  .shelf {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 680px;
    border-bottom: 2px white solid;

    img {
      transform: rotate(-90deg);
      transform-origin: 466px 212px;
      margin: 0 -13rem;
    }
  }
}
